<footer>

  <p>
    <small>
      <%= meta.title %> 
      v<%= meta.version %> 
      &copy; <%= dateformat('yyyy') %> 
      <a href="<%= meta.author.url %>" target="_blank"><%= meta.author.name %></a>
    </small>
  </p>

</footer>